apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-laravel-metrics
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values:
          - reservation-app
  namespaceSelector:
    matchNames:
      - reservation-app
  endpoints:
    - port: http
      path: /api/metrics
      interval: 15s
      scrapeTimeout: 10s