apiVersion: v1
kind: Service
metadata:
  name: backend-metrics
  namespace: reservation-app
  labels:
    app: backend
spec:
  selector:
    app: backend-nginx   # <== IMPORTANT: nginx exposes /metrics, not php-fpm
  ports:
    - name: metrics
      port: 80
      targetPort: 80
