apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-nginx
  namespace: reservation-app
  labels:
    app: backend-nginx
    app.kubernetes.io/name: reservation-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-nginx
      app.kubernetes.io/name: reservation-app
  template:
    metadata:
      labels:
        app: backend-nginx
        app.kubernetes.io/name: reservation-app
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-config
          configMap:
            name: backend-nginx-config
