apiVersion: v1
kind: Service
metadata:
  name: backend-metrics
  namespace: reservation-app
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - name: metrics
      port: 8000
      targetPort: 8000
      protocol: TCP
