apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: reservation-app
  labels:
    app: backend
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: Replace=true,Prune=true
    argocd-image-updater.argoproj.io/image-list: backend=faroukelrey19008/reservation-backend
    argocd-image-updater.argoproj.io/backend.update-strategy: latest
    argocd-image-updater.argoproj.io/backend.pull-secret: regcred
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        image-version: "60"
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: faroukelrey19008/reservation-backend:60
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
              name: fpm
          envFrom:
            - configMapRef:
                name: mysql-config
            - secretRef:
                name: mysql-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 5
