apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: reservation-app
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        app.kubernetes.io/name: reservation-app
        managed-by: argocd
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
<<<<<<< HEAD
          image: faroukelrey19008/reservation-backend:105
=======
          image: faroukelrey19008/reservation-backend:105
>>>>>>> a615363dbbb32585a9c00be8c115a3367d76aff8
          imagePullPolicy: Always  # Change to Always
          ports:
            - containerPort: 9000
              name: fpm
          envFrom:
            - configMapRef:
                name: mysql-config
            - configMapRef:
                name: laravel-config
            - secretRef:
                name: mysql-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 5