apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: reservation-app
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: fpm
  selector:
    app: backend
