apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: reservation-app
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: fpm
      port: 9000
      targetPort: 9000
      protocol: TCP