apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reservation-app

resources:
  - ../../base

patches:
  - path: patch-rollout.yaml
    target:
      kind: Rollout
      name: reservation-app
  
  - path: patch-mysql-prod.yaml
    target:
      kind: Deployment
      name: mysql

labels:
  - pairs:
      environment: production
