apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: reservation-app
  labels:
    app: frontend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80          # ingress will hit this port
      targetPort: 80    # nginx container listens on 80
      protocol: TCP
  selector:
    app: frontend
