apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: reservation-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/farouk-alt/reservationApp
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: reservation-app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
