apiVersion: batch/v1
kind: Job
metadata:
  name: liquibase-migration
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  ttlSecondsAfterFinished: 100
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: liquibase-migration
        job-name: liquibase-migration
    spec:
      restartPolicy: Never
      volumes:
        - name: changelogs
          configMap:
            name: liquibase-changelog
      containers:
        - name: liquibase
          image: liquibase/liquibase:4.29.2
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Starting Liquibase migration..."
              /liquibase/liquibase \
                --url="jdbc:mysql://mysql.reservation-app-dev.svc.cluster.local:3306/reservation_db_dev?createDatabaseIfNotExist=true" \
                --username=root \
                --password=1010 \
                --changeLogFile=/liquibase/db.changelog-master.yaml \
                --log-level=INFO \
                update
              echo "Migration completed with exit code: $?"
          volumeMounts:
            - mountPath: /liquibase
              name: changelogs
