apiVersion: batch/v1
kind: Job
metadata:
  name: liquibase-migration
  namespace: reservation-app
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never

      volumes:
        - name: liquibase-lib
          emptyDir: {}  # temp folder for JDBC + autocompletes
        - name: liquibase-changelog
          configMap:
            name: liquibase-changelog

      initContainers:
        - name: download-mysql-driver
          image: curlimages/curl:8.7.1
          command:
            - sh
            - -c
            - |
              echo "Downloading MySQL JDBC driver..."
              curl -L -o /drivers/mysql.jar \
                https://repo1.maven.org/maven2/mysql/mysql-connector-j/8.3.0/mysql-connector-j-8.3.0.jar
          volumeMounts:
            - name: liquibase-lib
              mountPath: /drivers

      containers:
        - name: liquibase
          image: liquibase/liquibase:4.29.2
          workingDir: /liquibase/changelog
          command:
            - sh
            - -c
            - |
              echo "Running Liquibase..."
              
              liquibase \
                --classpath=/liquibase/lib/mysql.jar \
                --url="jdbc:mysql://mysql.reservation-app.svc.cluster.local:3306/reservation_db" \
                --username=root \
                --password=1010 \
                --changeLogFile=db.changelog-master.yaml \
                update

          volumeMounts:
            - name: liquibase-lib
              mountPath: /liquibase/lib
            - name: liquibase-changelog
              mountPath: /liquibase/changelog
