apiVersion: v1
kind: Service
metadata:
  name: mysql-headless
  namespace: reservation-app
  labels:
    app: mysql
spec:
  clusterIP: None  # Headless service
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: mysql
