apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: reservation-app
spec:
  replicas: 2
  revisionHistoryLimit: 5

  selector:
    matchLabels:
      app: reservation-app

  strategy:
    canary:
      steps:
        - setWeight: 100

  template:
    metadata:
      labels:
        app: reservation-app
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.35
          command:
            - sh
            - -c
            - |
              until nc -z mysql.reservation-app.svc.cluster.local 3306; do
                echo "Waiting for MySQL..."
                sleep 2
              done
              echo "MySQL is ready!"

      containers:
        - name: backend
          image: faroukelrey19008/reservation-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
              name: backend
          env:
            - name: DB_HOST
              value: mysql.reservation-app.svc.cluster.local
            - name: DB_PORT
              value: "3306"
            - name: DB_DATABASE
              value: reservation_db
            - name: DB_USERNAME
              value: root
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password

        - name: frontend
          image: faroukelrey19008/reservation-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: frontend
