apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reservation-app-dev

resources:
  - ../../base
  - namespace.yaml

patches:
  - path: rollout-patch.yaml
    target:
      kind: Rollout
      name: reservation-app
  - path: patch-mysql.yaml
    target:
      kind: Deployment
      name: mysql

labels:
  - pairs:
      environment: dev

secretGenerator:
  - name: mysql-secret
    behavior: replace
    literals:
      - root-password=1010
      - database=reservation_db_dev