apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: reservation-app-dev

resources:
  - ../../base

patches:
  - path: patch-rollout.yaml
    target:
      kind: Rollout
      name: reservation-app
