apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: reservation-app
spec:
  replicas: 1  # Dev only needs 1 replica
  
  strategy:
    canary:
      steps:
      - setWeight: 100  # Deploy immediately in dev (no canary)
  
  template:
    spec:
      containers:
      - name: backend
        image: faroukelrey19008/reservation-backend:latest  # Will be updated by Jenkins
        env:
        - name: APP_ENV
          value: development
        - name: APP_DEBUG
          value: "true"
        - name: DB_HOST
          value: mysql.reservation-app-dev.svc.cluster.local
        - name: DB_DATABASE
          value: reservation_db_dev
      
      - name: frontend
        image: faroukelrey19008/reservation-frontend:latest
        env:
        - name: REACT_APP_ENV
          value: development
