# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: reservation-app
# spec:
#   replicas: 1
#   template:
#     spec:
#       containers:
#         - name: backend
#           image: faroukelrey19008/reservation-backend:195
#         - name: frontend
#           image: faroukelrey19008/reservation-frontend:195
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: reservation-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: backend
          image: faroukelrey19008/reservation-backend:195
          imagePullPolicy: Always
        - name: frontend
          image: faroukelrey19008/reservation-frontend:195
          imagePullPolicy: Always
      initContainers:
        - name: liquibase-migration
          image: faroukelrey19008/reservation-backend:195
          workingDir: /var/www/html
          command:
            - liquibase
            - --url=jdbc:mysql://mysql.reservation-app.svc.cluster.local:3306/reservation_db
            - --username=root
            - --password=1010
            - --changeLogFile=/var/www/html/database/changelog/db.changelog-master.yaml
            - update