apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  template:
    spec:
      containers:
      - name: mysql
        resources:
          requests:
            memory: "256Mi"  # Less resources in dev
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"