apiVersion: apps/v1
kind: Deployment
metadata:
  name: reservation-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: reservation-app
          image: farouk/reservation-app:dev
