apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: reservation-app
spec:
  replicas: 1
  strategy:
    canary:
      steps:
        - setWeight: 100
  template:
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.35
          command:
            - sh
            - -c
            - |
              until nc -z mysql.reservation-app-dev.svc.cluster.local 3306; do
                echo "Waiting for MySQL..."
                sleep 2
              done
              echo "MySQL is ready!"
      containers:
        - name: backend
          image: faroukelrey19008/reservation-backend:latest
          ports:
            - containerPort: 9000
          env:
            - name: APP_ENV
              value: development
            - name: APP_DEBUG
              value: "true"
            - name: DB_HOST
              value: mysql.reservation-app-dev.svc.cluster.local
            - name: DB_DATABASE
              value: reservation_db_dev
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
        - name: frontend
          image: faroukelrey19008/reservation-frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_ENV
              value: development
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
