apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: reservation-app
spec:
  replicas: 2  # Staging uses 2 replicas
  
  strategy:
    canary:
      steps:
      - setWeight: 50  # Faster rollout in staging
      - pause: {duration: 1m}
      - setWeight: 100
  
  template:
    spec:
      containers:
      - name: backend
        image: faroukelrey19008/reservation-backend:latest
        env:
        - name: APP_ENV
          value: staging
        - name: APP_DEBUG
          value: "false"
        - name: DB_HOST
          value: mysql.reservation-app-staging.svc.cluster.local
        - name: DB_DATABASE
          value: reservation_db_staging
      
      - name: frontend
        image: faroukelrey19008/reservation-frontend:latest
        env:
        - name: REACT_APP_ENV
          value: staging