apiVersion: apps/v1
kind: Deployment
metadata:
  name: reservation-app
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: reservation-app
          image: farouk/reservation-app:staging
